body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://github.com/iammarkus1962/Doreen/raw/main/Sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

video {
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
